.header{
  min-height: 300px;
  background: #197D7D;
  padding: 30px 0px;
  color: #fff;
}

.header .logo{
  width: 300px;
  height: 200px;
}
.header .logo img{
  border-radius: 50%;
}
.icon-info .fa{
  width: 20px;
  height: 35px;
  color: #f39501;
}
.header .name{
  height: 200px;
}
.target ul li {
  list-style-type: none;
}
.name .full-name{
  text-transform: uppercase;
  font-size: 30pt;
  font-weight: bold;
}
.name .job{
  color: #f39501;
  font-size: 25px;
  font-weight: bold;
}
/* end header */
.content .title-content{
  text-transform: uppercase;
  font-size: 27pt;
  color:  #197D7D;
}
.label-skill{
  text-transform: uppercase;
}
.jumbotron{
  background: #197D7D;
  color: #fff;
}
.title-images{
  background: #197D7D;
  height: 100%;
  widows: 100%;
  color: #fff;
  font-size: 30px;

}
h5.card-title{
  font-size: 24px;
}
/* end content */





.back-to-top{
  background: #f0f0f0;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  padding:8px;
  position: fixed;
  bottom: 20px;
  right: 40px;
  cursor: pointer;
  z-index: 100;
}
.back-to-top:hover{
  opacity: 0.8;
}
/* nut back-to-top */


@media screen and (max-width: 1024px){
  .header .logo{
    width: 100%;
    height: 200px;
    text-align: center;
  }
  .header .info{
    text-align: center;
  }
  .header .logo img{
    border-radius: 50%;
  }
  .header .name{
    height: 200px;
    text-align: center;
  }
  .name .full-name{
    text-transform: uppercase;
    font-size: 25pt;
    font-weight: bold;
  }
  .name .job{
    color: #f39501;
    font-size: 25px;
    font-weight: bold;
  }
}

/* responsive 1024 */