.header{
  min-height: 300px;
  background: #197D7D;
  padding: 30px 0px;
  color: #fff;
}

.header .logo{
  width: 300px;
  height: 200px;
}
.header .logo img{
  border-radius: 50%;
}
.icon-info .fa{
  width: 20px;
  height: 35px;
  color: #f39501;
}
.header .name{
  height: 200px;
}
.target ul li {
  list-style-type: none;
}
.name .full-name{
  text-transform: uppercase;
  font-size: 30pt;
  font-weight: bold;
}
.name .job{
  color: #f39501;
  font-size: 25px;
  font-weight: bold;
}
.icon-contact{
  margin-top: 20px;
}
.btn-floating, .btn-floating i {
  color: 
  #fff;
  line-height: 37px;
  display: inline-block;
}

.indigo {
  background-color: 
  #3f51b5 !important;
}
.btn-floating i {
  width: inherit;
  text-align: center;
}
.btn-floating {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  padding: 0;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
}
/* end header */
.content .title-content{
  text-transform: uppercase;
  font-size: 27pt;
  color:  #197D7D;
  font-family: 'Raleway', sans-serif;
}
.label-skill{
  text-transform: uppercase;
}
.jumbotron{
  background: #197D7D;
  color: #fff;
}
.title-images{
  background: #197D7D;
  height: 100%;
  widows: 100%;
  color: #fff;
  font-size: 30px;

}
h5.card-title{
  font-size: 24px;
}
/* end content */





.back-to-top{
  background: #f0f0f0;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  padding:8px;
  position: fixed;
  bottom: 20px;
  right: 40px;
  cursor: pointer;
  z-index: 100;
}
.back-to-top:hover{
  opacity: 0.8;
}
/* nut back-to-top */

.inter-even{
  background: #197D7D;
  color: #fff;
  
}
.inter-odd{
  background: #f9f9f9;
  color: #197D7D;

}
.icon-inter{
  height: 100px;
  
}
.card-body .card-text.info-inter{
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 22px;
}
.inter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row.row-edit{
  margin: 0;
  padding: 0;
}

.inter .fa{
  font-size: 29px;
  margin-bottom: 10px;
}



/* end phan so thích */

@media screen and (max-width: 1024px){
  .header .logo{
    width: 100%;
    height: 200px;

  }

  .header .logo img{
    border-radius: 50%;
  }
  .header .name{
    height: 200px;

  }
  .name .full-name{
    text-transform: uppercase;
    font-size: 25pt;
    font-weight: bold;
  }
  .name .job{
    color: #f39501;
    font-size: 25px;
    font-weight: bold;
  }
  .time-education{
    font-size: 22px;
  }
}

/* responsive 1024 */

@media screen and (max-width: 568px){
  .header .logo{
    width: 100%;
    height: 200px;
  }
 
  .header .logo img{
    border-radius: 50%;
  }
  .header .name{
    height: 200px;
  }
  .name .full-name{
    text-transform: uppercase;
    font-size: 17pt;
    font-weight: bold;
  }
  .name .job{
    color: #f39501;
    font-size: 25px;
    font-weight: bold;
  }
  .title-images{
    background: #197D7D;
    height: 100%;
    widows: 100%;
    color: #fff;
    font-size: 26px;
  
  }
  .back-to-top{
    background: #f0f0f0;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    padding:5px;
    position: fixed;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
    z-index: 100;
  }
  .inter{
    padding: 15px;
  }
  .time-education{
    font-size: 20px;
    padding: 20px;
  }
}
/* responsive 568 */

